=begin
#Marketing Events

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Hubspot
  module Marketing
    module Events
      class AddEventAttendeesApi
        attr_accessor :api_client

        def initialize(api_client = ApiClient.default)
          @api_client = api_client
        end
        # Record Participants by Email with Marketing Event External Ids
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.  If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \"attend\": - joinedAt - leftAt
        # @param external_event_id [String] The id of the marketing event in the external event application
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The accountId that is associated with this marketing event in the external event application
        # @return [BatchResponseSubscriberEmailResponse]
        def record_by_contact_emails(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          data, _status_code, _headers = record_by_contact_emails_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts)
          data
        end

        # Record Participants by Email with Marketing Event External Ids
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.  If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \&quot;attend\&quot;: - joinedAt - leftAt
        # @param external_event_id [String] The id of the marketing event in the external event application
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The accountId that is associated with this marketing event in the external event application
        # @return [Array<(BatchResponseSubscriberEmailResponse, Integer, Hash)>] BatchResponseSubscriberEmailResponse data, response status code and response headers
        def record_by_contact_emails_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AddEventAttendeesApi.record_by_contact_emails ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling AddEventAttendeesApi.record_by_contact_emails"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AddEventAttendeesApi.record_by_contact_emails"
          end
          # verify the required parameter 'batch_input_marketing_event_email_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_email_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_email_subscriber' when calling AddEventAttendeesApi.record_by_contact_emails"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = opts[:'external_account_id'] if !opts[:'external_account_id'].nil?

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_email_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberEmailResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"AddEventAttendeesApi.record_by_contact_emails",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AddEventAttendeesApi#record_by_contact_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Record Participants by ContactId with Marketing Event Object Id
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \"attend\": - joinedAt - leftAt
        # @param object_id [String] The internal id of the marketing event in HubSpot
        # @param subscriber_state [String] The attendance state value. It may be &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [BatchResponseSubscriberVidResponse]
        def record_by_contact_id(object_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          data, _status_code, _headers = record_by_contact_id_with_http_info(object_id, subscriber_state, batch_input_marketing_event_subscriber, opts)
          data
        end

        # Record Participants by ContactId with Marketing Event Object Id
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \&quot;attend\&quot;: - joinedAt - leftAt
        # @param object_id [String] The internal id of the marketing event in HubSpot
        # @param subscriber_state [String] The attendance state value. It may be &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Array<(BatchResponseSubscriberVidResponse, Integer, Hash)>] BatchResponseSubscriberVidResponse data, response status code and response headers
        def record_by_contact_id_with_http_info(object_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AddEventAttendeesApi.record_by_contact_id ...'
          end
          # verify the required parameter 'object_id' is set
          if @api_client.config.client_side_validation && object_id.nil?
            fail ArgumentError, "Missing the required parameter 'object_id' when calling AddEventAttendeesApi.record_by_contact_id"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AddEventAttendeesApi.record_by_contact_id"
          end
          # verify the required parameter 'batch_input_marketing_event_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_subscriber' when calling AddEventAttendeesApi.record_by_contact_id"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/create'.sub('{' + 'objectId' + '}', CGI.escape(object_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberVidResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"AddEventAttendeesApi.record_by_contact_id",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AddEventAttendeesApi#record_by_contact_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Record Participants by ContactId with Marketing Event External Ids
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \"attend\": - joinedAt - leftAt
        # @param external_event_id [String] The id of the marketing event in the external event application
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The accountId that is associated with this marketing event in the external event application
        # @return [BatchResponseSubscriberVidResponse]
        def record_by_contact_ids(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          data, _status_code, _headers = record_by_contact_ids_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts)
          data
        end

        # Record Participants by ContactId with Marketing Event External Ids
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \&quot;attend\&quot;: - joinedAt - leftAt
        # @param external_event_id [String] The id of the marketing event in the external event application
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The accountId that is associated with this marketing event in the external event application
        # @return [Array<(BatchResponseSubscriberVidResponse, Integer, Hash)>] BatchResponseSubscriberVidResponse data, response status code and response headers
        def record_by_contact_ids_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AddEventAttendeesApi.record_by_contact_ids ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling AddEventAttendeesApi.record_by_contact_ids"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AddEventAttendeesApi.record_by_contact_ids"
          end
          # verify the required parameter 'batch_input_marketing_event_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_subscriber' when calling AddEventAttendeesApi.record_by_contact_ids"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = opts[:'external_account_id'] if !opts[:'external_account_id'].nil?

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberVidResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"AddEventAttendeesApi.record_by_contact_ids",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AddEventAttendeesApi#record_by_contact_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Record Participants by Email with Marketing Event Object Id
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.  If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \"attend\": - joinedAt - leftAt
        # @param object_id [String] The internal ID of the marketing event in HubSpot
        # @param subscriber_state [String] The attendance state value. It may be &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [BatchResponseSubscriberEmailResponse]
        def record_by_email(object_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          data, _status_code, _headers = record_by_email_with_http_info(object_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts)
          data
        end

        # Record Participants by Email with Marketing Event Object Id
        # Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.  If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.  Additional Functionality: - Adds a timeline event to the contacts.  Allowed Properties: For the state \&quot;attend\&quot;: - joinedAt - leftAt
        # @param object_id [String] The internal ID of the marketing event in HubSpot
        # @param subscriber_state [String] The attendance state value. It may be &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Array<(BatchResponseSubscriberEmailResponse, Integer, Hash)>] BatchResponseSubscriberEmailResponse data, response status code and response headers
        def record_by_email_with_http_info(object_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AddEventAttendeesApi.record_by_email ...'
          end
          # verify the required parameter 'object_id' is set
          if @api_client.config.client_side_validation && object_id.nil?
            fail ArgumentError, "Missing the required parameter 'object_id' when calling AddEventAttendeesApi.record_by_email"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AddEventAttendeesApi.record_by_email"
          end
          # verify the required parameter 'batch_input_marketing_event_email_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_email_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_email_subscriber' when calling AddEventAttendeesApi.record_by_email"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/{objectId}/attendance/{subscriberState}/email-create'.sub('{' + 'objectId' + '}', CGI.escape(object_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_email_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberEmailResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"AddEventAttendeesApi.record_by_email",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AddEventAttendeesApi#record_by_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end
      end
    end
  end
end
