=begin
#Marketing Events Extension

#These APIs allow you to interact with HubSpot's Marketing Events Extension. It allows you to: * Create, Read or update Marketing Event information in HubSpot * Specify whether a HubSpot contact has registered, attended or cancelled a registration to a Marketing Event. * Specify a URL that can be called to get the details of a Marketing Event. 

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Hubspot
  module Marketing
    module Events
      class AttendanceSubscriberStateChangesApi
        attr_accessor :api_client

        def initialize(api_client = ApiClient.default)
          @api_client = api_client
        end
        # Record
        # Record a subscription state between multiple HubSpot contacts and a marketing event, using HubSpot contact ids.
        # @param external_event_id [String] The id of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] The details of the contacts to subscribe to the event. Parameters of join and left time if state is Attended.
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The account id associated with the marketing event
        # @return [BatchResponseSubscriberVidResponse]
        def create(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          data, _status_code, _headers = create_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts)
          data
        end

        # Record
        # Record a subscription state between multiple HubSpot contacts and a marketing event, using HubSpot contact ids.
        # @param external_event_id [String] The id of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] The details of the contacts to subscribe to the event. Parameters of join and left time if state is Attended.
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The account id associated with the marketing event
        # @return [Array<(BatchResponseSubscriberVidResponse, Integer, Hash)>] BatchResponseSubscriberVidResponse data, response status code and response headers
        def create_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AttendanceSubscriberStateChangesApi.create ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling AttendanceSubscriberStateChangesApi.create"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AttendanceSubscriberStateChangesApi.create"
          end
          # verify the required parameter 'batch_input_marketing_event_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_subscriber' when calling AttendanceSubscriberStateChangesApi.create"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/create'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = opts[:'external_account_id'] if !opts[:'external_account_id'].nil?

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberVidResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['hapikey', 'oauth2']

          new_options = opts.merge(
            :operation => :"AttendanceSubscriberStateChangesApi.create",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AttendanceSubscriberStateChangesApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Record
        # Record a subscription state between multiple HubSpot contacts and a marketing event, using contact email addresses. If contact is not present it will be automatically created. If you set params 
        # @param external_event_id [String] The id of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] The details of the contacts to subscribe to the event. Parameters of join and left time if state is Attended.
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The account id associated with the marketing event
        # @return [BatchResponseSubscriberEmailResponse]
        def create_by_email(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          data, _status_code, _headers = create_by_email_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts)
          data
        end

        # Record
        # Record a subscription state between multiple HubSpot contacts and a marketing event, using contact email addresses. If contact is not present it will be automatically created. If you set params 
        # @param external_event_id [String] The id of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] The details of the contacts to subscribe to the event. Parameters of join and left time if state is Attended.
        # @param [Hash] opts the optional parameters
        # @option opts [String] :external_account_id The account id associated with the marketing event
        # @return [Array<(BatchResponseSubscriberEmailResponse, Integer, Hash)>] BatchResponseSubscriberEmailResponse data, response status code and response headers
        def create_by_email_with_http_info(external_event_id, subscriber_state, batch_input_marketing_event_email_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: AttendanceSubscriberStateChangesApi.create_by_email ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling AttendanceSubscriberStateChangesApi.create_by_email"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling AttendanceSubscriberStateChangesApi.create_by_email"
          end
          # verify the required parameter 'batch_input_marketing_event_email_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_email_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_email_subscriber' when calling AttendanceSubscriberStateChangesApi.create_by_email"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/attendance/{externalEventId}/{subscriberState}/email-create'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = opts[:'external_account_id'] if !opts[:'external_account_id'].nil?

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_email_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'BatchResponseSubscriberEmailResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['hapikey', 'oauth2']

          new_options = opts.merge(
            :operation => :"AttendanceSubscriberStateChangesApi.create_by_email",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: AttendanceSubscriberStateChangesApi#create_by_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end
      end
    end
  end
end
