=begin
#Marketing Events

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Hubspot
  module Marketing
    module Events
      class SubscriberStateChangesApi
        attr_accessor :api_client

        def initialize(api_client = ApiClient.default)
          @api_client = api_client
        end
        # Record a subscriber state by contact email
        # Record a subscriber state between multiple HubSpot contacts and a marketing event, using contact email addresses. Note that the contact must already exist in HubSpot; a contact will not be created. The contactProperties field is used only when creating a new contact. These properties will not update existing contacts. 
        # @param external_event_id [String] The ID of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param external_account_id [String] The account ID associated with the marketing event
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Error]
        def upsert_by_contact_email(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_email_subscriber, opts = {})
          data, _status_code, _headers = upsert_by_contact_email_with_http_info(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_email_subscriber, opts)
          data
        end

        # Record a subscriber state by contact email
        # Record a subscriber state between multiple HubSpot contacts and a marketing event, using contact email addresses. Note that the contact must already exist in HubSpot; a contact will not be created. The contactProperties field is used only when creating a new contact. These properties will not update existing contacts. 
        # @param external_event_id [String] The ID of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param external_account_id [String] The account ID associated with the marketing event
        # @param batch_input_marketing_event_email_subscriber [BatchInputMarketingEventEmailSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Array<(Error, Integer, Hash)>] Error data, response status code and response headers
        def upsert_by_contact_email_with_http_info(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_email_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: SubscriberStateChangesApi.upsert_by_contact_email ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling SubscriberStateChangesApi.upsert_by_contact_email"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling SubscriberStateChangesApi.upsert_by_contact_email"
          end
          # verify the required parameter 'external_account_id' is set
          if @api_client.config.client_side_validation && external_account_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_account_id' when calling SubscriberStateChangesApi.upsert_by_contact_email"
          end
          # verify the required parameter 'batch_input_marketing_event_email_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_email_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_email_subscriber' when calling SubscriberStateChangesApi.upsert_by_contact_email"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = external_account_id

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_email_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'Error'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"SubscriberStateChangesApi.upsert_by_contact_email",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: SubscriberStateChangesApi#upsert_by_contact_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Record a subscriber state by contact ID
        # Record a subscriber state between multiple HubSpot contacts and a marketing event, using HubSpot contact IDs. Note that the contact must already exist in HubSpot; a contact will not be created.
        # @param external_event_id [String] The ID of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param external_account_id [String] The account ID associated with the marketing event
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Error]
        def upsert_by_contact_id(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_subscriber, opts = {})
          data, _status_code, _headers = upsert_by_contact_id_with_http_info(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_subscriber, opts)
          data
        end

        # Record a subscriber state by contact ID
        # Record a subscriber state between multiple HubSpot contacts and a marketing event, using HubSpot contact IDs. Note that the contact must already exist in HubSpot; a contact will not be created.
        # @param external_event_id [String] The ID of the marketing event
        # @param subscriber_state [String] The new subscriber state for the HubSpot contacts and the specified marketing event. For example: &#39;register&#39;, &#39;attend&#39; or &#39;cancel&#39;.
        # @param external_account_id [String] The account ID associated with the marketing event
        # @param batch_input_marketing_event_subscriber [BatchInputMarketingEventSubscriber] 
        # @param [Hash] opts the optional parameters
        # @return [Array<(Error, Integer, Hash)>] Error data, response status code and response headers
        def upsert_by_contact_id_with_http_info(external_event_id, subscriber_state, external_account_id, batch_input_marketing_event_subscriber, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: SubscriberStateChangesApi.upsert_by_contact_id ...'
          end
          # verify the required parameter 'external_event_id' is set
          if @api_client.config.client_side_validation && external_event_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_event_id' when calling SubscriberStateChangesApi.upsert_by_contact_id"
          end
          # verify the required parameter 'subscriber_state' is set
          if @api_client.config.client_side_validation && subscriber_state.nil?
            fail ArgumentError, "Missing the required parameter 'subscriber_state' when calling SubscriberStateChangesApi.upsert_by_contact_id"
          end
          # verify the required parameter 'external_account_id' is set
          if @api_client.config.client_side_validation && external_account_id.nil?
            fail ArgumentError, "Missing the required parameter 'external_account_id' when calling SubscriberStateChangesApi.upsert_by_contact_id"
          end
          # verify the required parameter 'batch_input_marketing_event_subscriber' is set
          if @api_client.config.client_side_validation && batch_input_marketing_event_subscriber.nil?
            fail ArgumentError, "Missing the required parameter 'batch_input_marketing_event_subscriber' when calling SubscriberStateChangesApi.upsert_by_contact_id"
          end
          # resource path
          local_var_path = '/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert'.sub('{' + 'externalEventId' + '}', CGI.escape(external_event_id.to_s)).sub('{' + 'subscriberState' + '}', CGI.escape(subscriber_state.to_s))

          # query parameters
          query_params = opts[:query_params] || {}
          query_params[:'externalAccountId'] = external_account_id

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_marketing_event_subscriber)

          # return_type
          return_type = opts[:debug_return_type] || 'Error'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"SubscriberStateChangesApi.upsert_by_contact_id",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: SubscriberStateChangesApi#upsert_by_contact_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end
      end
    end
  end
end
