<div class="container">
  <div class="auth-buttons-container center">
    <div class="trello-container">
      <div class="trello-label">
        <h3 class="center">Trello</h3>
      </div>
      <div class="row authorize-button trello-authorize">
          <a class="button" href="/oauth">Authorize</a>
      </div>
    </div>
    <div class="hubspot-container">
      <div class="hubspot-label">
        <h3 class="center">Hubspot</h3>
      </div>
      <div class="row authorize-button hubspot-authorize">
          <a class="button" href="/oauth">Authorize</a>
      </div>
    </div>
  </div>
  <div class="authorization-info center">
    <h3>Authorize both accounts to create your sync!</h3>
  </div>
</div>