<div class="container">
  <pre>
    <p>// app/lib/services/authorization/get_authorization_uri.rb - Generate URL for OAuth</p>

    <p>::Hubspot::OAuthHelper.authorize_url(</p>
    <p>  client_id: 'client_id',</p>
    <p>  redirect_uri: redirect_uri,</p>
    <p>  scope: %w[contacts]</p>
    <p>)</p>
  </pre>
  <h3 class="text-center">In order to continue please authorize via OAuth</h3>
  <div class="row authorize-button">
      <a class="button" href="/oauth">Authorize</a>
  </div>
</div>