=begin
#CMS Source Code

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Hubspot
  module Cms
    module SourceCode
      class ExtractApi
        attr_accessor :api_client

        def initialize(api_client = ApiClient.default)
          @api_client = api_client
        end
        # Extract a zip file
        # Extract a zip file in the developer file system. Extraction status can be checked with the `/extract/async/tasks/taskId/status` endpoint below.
        # @param file_extract_request [FileExtractRequest] 
        # @param [Hash] opts the optional parameters
        # @return [TaskLocator]
        def do_async(file_extract_request, opts = {})
          data, _status_code, _headers = do_async_with_http_info(file_extract_request, opts)
          data
        end

        # Extract a zip file
        # Extract a zip file in the developer file system. Extraction status can be checked with the &#x60;/extract/async/tasks/taskId/status&#x60; endpoint below.
        # @param file_extract_request [FileExtractRequest] 
        # @param [Hash] opts the optional parameters
        # @return [Array<(TaskLocator, Integer, Hash)>] TaskLocator data, response status code and response headers
        def do_async_with_http_info(file_extract_request, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: ExtractApi.do_async ...'
          end
          # verify the required parameter 'file_extract_request' is set
          if @api_client.config.client_side_validation && file_extract_request.nil?
            fail ArgumentError, "Missing the required parameter 'file_extract_request' when calling ExtractApi.do_async"
          end
          # resource path
          local_var_path = '/cms/v3/source-code/extract/async'

          # query parameters
          query_params = opts[:query_params] || {}

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
          # HTTP header 'Content-Type'
          content_type = @api_client.select_header_content_type(['application/json'])
          if !content_type.nil?
              header_params['Content-Type'] = content_type
          end

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body] || @api_client.object_to_http_body(file_extract_request)

          # return_type
          return_type = opts[:debug_return_type] || 'TaskLocator'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"ExtractApi.do_async",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: ExtractApi#do_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end

        # Get extraction status
        # Get the status of an extraction by the `taskId` returned from the initial `extract/async` request.
        # @param task_id [Integer] The extraction task ID returned by the initial &#x60;extract/async&#x60; request.
        # @param [Hash] opts the optional parameters
        # @return [ActionResponse]
        def get_async_status(task_id, opts = {})
          data, _status_code, _headers = get_async_status_with_http_info(task_id, opts)
          data
        end

        # Get extraction status
        # Get the status of an extraction by the &#x60;taskId&#x60; returned from the initial &#x60;extract/async&#x60; request.
        # @param task_id [Integer] The extraction task ID returned by the initial &#x60;extract/async&#x60; request.
        # @param [Hash] opts the optional parameters
        # @return [Array<(ActionResponse, Integer, Hash)>] ActionResponse data, response status code and response headers
        def get_async_status_with_http_info(task_id, opts = {})
          if @api_client.config.debugging
            @api_client.config.logger.debug 'Calling API: ExtractApi.get_async_status ...'
          end
          # verify the required parameter 'task_id' is set
          if @api_client.config.client_side_validation && task_id.nil?
            fail ArgumentError, "Missing the required parameter 'task_id' when calling ExtractApi.get_async_status"
          end
          # resource path
          local_var_path = '/cms/v3/source-code/extract/async/tasks/{taskId}/status'.sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

          # query parameters
          query_params = opts[:query_params] || {}

          # header parameters
          header_params = opts[:header_params] || {}
          # HTTP header 'Accept' (if needed)
          header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])

          # form parameters
          form_params = opts[:form_params] || {}

          # http body (model)
          post_body = opts[:debug_body]

          # return_type
          return_type = opts[:debug_return_type] || 'ActionResponse'

          # auth_names
          auth_names = opts[:debug_auth_names] || ['oauth2']

          new_options = opts.merge(
            :operation => :"ExtractApi.get_async_status",
            :header_params => header_params,
            :query_params => query_params,
            :form_params => form_params,
            :body => post_body,
            :auth_names => auth_names,
            :return_type => return_type
          )

          data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
          if @api_client.config.debugging
            @api_client.config.logger.debug "API called: ExtractApi#get_async_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
          end
          return data, status_code, headers
        end
      end
    end
  end
end
