=begin
#CRM Deal Splits

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module Hubspot
  module Crm
    module Objects
      module DealSplits
        class BatchApi
          attr_accessor :api_client

          def initialize(api_client = ApiClient.default)
            @api_client = api_client
          end
          # Read a batch of deal split objects by their associated deal object internal ID
          # @param batch_input_public_object_id [BatchInputPublicObjectId] 
          # @param [Hash] opts the optional parameters
          # @return [BatchResponseDealToDealSplits]
          def read(batch_input_public_object_id, opts = {})
            data, _status_code, _headers = read_with_http_info(batch_input_public_object_id, opts)
            data
          end

          # Read a batch of deal split objects by their associated deal object internal ID
          # @param batch_input_public_object_id [BatchInputPublicObjectId] 
          # @param [Hash] opts the optional parameters
          # @return [Array<(BatchResponseDealToDealSplits, Integer, Hash)>] BatchResponseDealToDealSplits data, response status code and response headers
          def read_with_http_info(batch_input_public_object_id, opts = {})
            if @api_client.config.debugging
              @api_client.config.logger.debug 'Calling API: BatchApi.read ...'
            end
            # verify the required parameter 'batch_input_public_object_id' is set
            if @api_client.config.client_side_validation && batch_input_public_object_id.nil?
              fail ArgumentError, "Missing the required parameter 'batch_input_public_object_id' when calling BatchApi.read"
            end
            # resource path
            local_var_path = '/crm/v3/objects/deals/splits/batch/read'

            # query parameters
            query_params = opts[:query_params] || {}

            # header parameters
            header_params = opts[:header_params] || {}
            # HTTP header 'Accept' (if needed)
            header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
            # HTTP header 'Content-Type'
            content_type = @api_client.select_header_content_type(['application/json'])
            if !content_type.nil?
                header_params['Content-Type'] = content_type
            end

            # form parameters
            form_params = opts[:form_params] || {}

            # http body (model)
            post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_input_public_object_id)

            # return_type
            return_type = opts[:debug_return_type] || 'BatchResponseDealToDealSplits'

            # auth_names
            auth_names = opts[:debug_auth_names] || ['oauth2']

            new_options = opts.merge(
              :operation => :"BatchApi.read",
              :header_params => header_params,
              :query_params => query_params,
              :form_params => form_params,
              :body => post_body,
              :auth_names => auth_names,
              :return_type => return_type
            )

            data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
            if @api_client.config.debugging
              @api_client.config.logger.debug "API called: BatchApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
            end
            return data, status_code, headers
          end

          # Create or replace deal splits for deals with the provided IDs. Deal split percentages for each deal must sum up to 1.0 (100%) and may have up to 8 decimal places
          # @param public_deal_splits_batch_create_request [PublicDealSplitsBatchCreateRequest] 
          # @param [Hash] opts the optional parameters
          # @return [BatchResponseDealToDealSplits]
          def upsert(public_deal_splits_batch_create_request, opts = {})
            data, _status_code, _headers = upsert_with_http_info(public_deal_splits_batch_create_request, opts)
            data
          end

          # Create or replace deal splits for deals with the provided IDs. Deal split percentages for each deal must sum up to 1.0 (100%) and may have up to 8 decimal places
          # @param public_deal_splits_batch_create_request [PublicDealSplitsBatchCreateRequest] 
          # @param [Hash] opts the optional parameters
          # @return [Array<(BatchResponseDealToDealSplits, Integer, Hash)>] BatchResponseDealToDealSplits data, response status code and response headers
          def upsert_with_http_info(public_deal_splits_batch_create_request, opts = {})
            if @api_client.config.debugging
              @api_client.config.logger.debug 'Calling API: BatchApi.upsert ...'
            end
            # verify the required parameter 'public_deal_splits_batch_create_request' is set
            if @api_client.config.client_side_validation && public_deal_splits_batch_create_request.nil?
              fail ArgumentError, "Missing the required parameter 'public_deal_splits_batch_create_request' when calling BatchApi.upsert"
            end
            # resource path
            local_var_path = '/crm/v3/objects/deals/splits/batch/upsert'

            # query parameters
            query_params = opts[:query_params] || {}

            # header parameters
            header_params = opts[:header_params] || {}
            # HTTP header 'Accept' (if needed)
            header_params['Accept'] = @api_client.select_header_accept(['application/json', '*/*'])
            # HTTP header 'Content-Type'
            content_type = @api_client.select_header_content_type(['application/json'])
            if !content_type.nil?
                header_params['Content-Type'] = content_type
            end

            # form parameters
            form_params = opts[:form_params] || {}

            # http body (model)
            post_body = opts[:debug_body] || @api_client.object_to_http_body(public_deal_splits_batch_create_request)

            # return_type
            return_type = opts[:debug_return_type] || 'BatchResponseDealToDealSplits'

            # auth_names
            auth_names = opts[:debug_auth_names] || ['oauth2']

            new_options = opts.merge(
              :operation => :"BatchApi.upsert",
              :header_params => header_params,
              :query_params => query_params,
              :form_params => form_params,
              :body => post_body,
              :auth_names => auth_names,
              :return_type => return_type
            )

            data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
            if @api_client.config.debugging
              @api_client.config.logger.debug "API called: BatchApi#upsert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
            end
            return data, status_code, headers
          end
        end
      end
    end
  end
end
