.trello-container, .hubspot-container {
  display: inline-block;
}

.auth-buttons-container {
  width: 80%;
}

.hubspot-container {
  float: right;
  margin-right: 20%;
}

.authorize-button .button {
  width: 200px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.authorization-info {
  margin-top: 20px;
}

.authorized {
  width: 200px;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  background-color: grey;
  border: none;
  text-align: center;
  display: block;
}