<h3>Select Trello board</h3>
<table>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td>
          <a href="<%= url_for(controller: :mappings, action: :pipelines_index, board_id: board.id) %>"><%= board.name %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>