

  <h3>Select HubSpot pipeline</h3>
  <table>
    <tbody>
      <% @pipelines.each do |pipeline| %>
        <tr>
          <td>
            <a href="<%= url_for(
              controller: :mappings,
              action: :index,
              board_id: params[:board_id],
              pipeline_id: pipeline.id,
            ) %>"><%= pipeline.label %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>