<div class="container">
  <% if @error.present? %>
    <h3><%= @error.message %></h3>
  <% else %>
    <table class="contacts">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.id %></td>
              <td><%= contact.properties['email'] %></td>
              <td><%= [contact.properties['firstname'], contact.properties['lastname']].join(' ') %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
