  <nav class="navigation">
    <div class="container">
      <a class="navigation-title" href="/">
        <h3 class="title">HubSpot Ruby Sample Webhook Contacts App</h3>
      </a>
      <ul class="navigation-list float-right">
        <li class="navigation-item">
          <a id="events" class="navigation-link" href="/events">Events</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="/">Initialization</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="/oauth">OAuth2</a>
        </li>
      </ul>
    </div>
  </nav>